body {
    background: #F8FAFE
}

.page {
    width: 1440px;
    margin: 0 auto;
}

.page__section {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.logo__image {
    height: 43px;
}

.logo__text {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 44px;
}

.logo__colortext {
    color: #FF5722;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 4px;
    font-weight: 400;
}

.breadcrumbs__colorlink {
    font-size: 16px;
    font-weight: 400;
    color: #008CF0;
    text-decoration-line: none;
}

.breadcrumbs__colorlink:hover {
    color: #F36223;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.phone__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 0 0 20px;
}

.phone__image {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.phone__img {
    height: 387px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.content_margin {
    margin-bottom: 100px;
}

.content__characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block__header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.block__selection {
    display: flex;
    gap: 10px;
}

.button-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 80px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-img:hover {
    background: #F2F2F2;
}

.button-img:focus {
    border: 2px solid #F36223;
}

.button-img__picture {
    height: 60px;
}

.button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-row:hover {
    background: #F2F2F2;
}

.button-row:focus {
    border: 2px solid #F36223;
}

.block__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.row__circle {
    display: flex;
    border-radius: 100%;
    height: 8px;
    content: url(images/Маркер.png);
}

.block__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.paragraph {
    padding: 0;
}

.block__table {
    width: 970px;
    border-collapse: collapse;
    border-bottom: 1px solid #888888;
}

.table-compare {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.table-compare__head {
    border: 1px solid #888888;
    padding: 10px;
}

.table-compare__cell {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table-compare:hover {
    background: #F2F2F2;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.reviews__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.reviews__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.reviews__text_grey {
    color: #888888;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.review__photo {
    border-radius: 100px;
}

.review__rightcol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.review__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.review__stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.star {
    height: 30px;
}

.review__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.separator {
    border-top: 1px dashed #888888;
    align-self: stretch;
    margin-left: 170px;
}

.block_padding {
    padding: 0 0 0 170px;
}

.block__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.fieldset-review {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 30px;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.fieldset-review__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.input-review__name {
    width: 495px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #888888;
    outline: none;
    flex-grow: 1;
}

.input-review__rating {
    width: 175px;
    height: 48px;
    padding: 0px 20px;
    border: 1px solid #888888;
    outline: none;
}

.input-review__name:hover {
    padding: 15px 20px;
    font-size: 16px;
    height: 18px;
    border: 1px solid black;
}

.input-review__rating:hover {
    padding: 15px 20px;
    font-size: 16px;
    height: 18px;
    border: 1px solid black;
}

.input-review__name:focus {
    font-size: 16px;
    border: 1px solid black;
}

.input-review__rating:focus {
    font-size: 16px;
    border: 1px solid black;
}

.textarea-review {
    padding: 15px 20px;
    border: 1px solid #888888;
    height: 200px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    resize: none;
    outline: none;
}

.textarea-review:hover{
    border: 1px solid black;

}
.textarea-review:focus{
    font-size: 16px;
    border: 1px solid black;

}

input::placeholder {
    color: #888888;
    font-size: 16px;
}

.reviews__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 39px;
    border-radius: 4px;
    border: 0;
    background: #F36223;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.reviews__button:hover {
    background: #DA4A0C;
}

.content__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 420px;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
}

.important__prise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.oldprise {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.oldprise__price {
    text-decoration-line: line-through;
    color: #888888;
}

.oldprise__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
    text-decoration: none;
}

.newprise {
    font-size: 32px;
}

.important__delivery {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0 0 20px;
    gap: 10px;
}

.important__basket-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    padding: 20px 49px;
    background: #F36223;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.important__basket-button:hover {
    background: #DA4A0C;
}

.important__basket-button:focus {
    padding: 19px 49px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    color: #888888;
    line-height: 17px;
}

.blurb__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.blurb__frame {
    border: 1px dashed #888888;
}

footer {
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #008CF0;
}