body {
    background: #F8FAFE
}

.page {
    width: 1440px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.logo__text {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 44px;
}

.logo__colortext {
    color: #FF5722;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 4px;
    font-weight: 400;
}

.colorlink {
    font-size: 16px;
    font-weight: 400;
    color: #008CF0;
    text-decoration-line: none;
}

.colorlink:hover {
    color: #F36223;
}

.phone-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 0 0 20px;
}

.phone-image {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    margin-top: 30px;
}

.block {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.selection {
    display: flex;
    gap: 10px;
}

.selection__color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 80px;
    height: 80px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.selection__color:hover {
    background: #F2F2F2;
}

.selection__color:focus {
    border: 2px solid #F36223;
}

.selection__memory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 94px;
    height: 39px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.selection__memory:hover {
    background: #F2F2F2;
}

.selection__memory:focus {
    border: 2px solid #F36223;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.circle {
    display: flex;
    border-radius: 100%;
    height: 8px;
    content: url(images/Маркер.png);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 420px;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
}

.prise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.oldprise {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.oldprise__price {
    text-decoration-line: line-through;
    color: #888888;
}

.oldprise__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
    text-decoration: none;
}

.newprise {
    font-size: 32px;
}

.delivery {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 0px 20px;
    gap: 10px;
}

.basket-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    padding: 20px 49px;
    background: #F36223;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.basket-button:hover {
    background: #DA4A0C;
}

.basket-button:focus {
    padding: 19px 49px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400px;
    color: #888888;
    line-height: 17px;
}

.blurb-list {
    margin: 10px 0 5px;
    border: 1px dashed #888888;
}

table {
    border: 1px solid black;
}

td,
th {
    padding: 3px;
    border: 1px solid black;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    padding: 0px;
    gap: 25px;
}

.reviews-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.reviews-title-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.counter-color {
    color: #888888;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.leftcol {
    border-radius: 100px;
}

.rightcol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
}

.information_review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.separator {
    box-sizing: border-box;
    border: 1px solid #888888;
    align-self: stretch;
}